.clients-container {
    padding: 60px 0;
  
    .section-title {
      margin-bottom: 30px;
  
      font-weight: bold;
      font-size: 28px;
      line-height: 1.178;
      text-align: center;
      letter-spacing: 0.03em;
  
      color: $primary-text-color;
    }
  
    .clients {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
      justify-content: center;
    }
  
    .clients-list {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
  
    .clients-link {
      display: flex;
      min-height: 90px;
      justify-content: center;
      align-items: center;
      border: 1px solid #afb1b8;
      border-radius: 4px;
      fill: #afb1b8;
  
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .clients-link:hover,
      .clients-link:focus {
        fill: $accent-color;
        border: 1px solid $accent-color;
      }

    .clients-list-svg {
        fill: #afb1b8;
        width: 100%;
        height: 60px;
    
        &:hover,
        &:focus {
          fill: $accent-color;
        }
      }
    
      .clients-link:hover .clients-list-svg,
      .clients-link:focus .clients-list-svg {
        fill: $accent-color;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-color: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
  }
  
  @media screen and (min-width: 768px) {
    .clients-container {
      &-item {
        width: calc((100% - 6 * 15px) / 3);
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .clients-container {
      padding: 94px 0;
  
      .section-title {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.167;
      }
  
      .clients-list {
        width: calc((100% - 6 * 15px) / 6);
      }
  
      .clients {
        flex-wrap: nowrap;
        justify-content: space-between;
      }
    }
  }

// .clients {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-wrap: wrap;
//   margin-bottom: 0px;

//   &-container {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }

//   &-list {
//     display: flex;
//     padding-bottom: 0;

//     width: 170px;
//     height: 90px;

//     box-sizing: border-box;
//   }

//   &-list + &-list {
//     margin-left: 30px;
//   }

//   &-link {
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     width: 170px;
//     height: 90px;
//     border: 1px solid #afb1b8;
//     border-radius: 4px;
//     fill: #afb1b8;
//   }

//   &-link:hover,
//   &-link:focus {
//     border-color: $accent-color;
//   }

//   &-list-svg {
//     fill: #afb1b8;
//     width: 100%;
//     height: 60px;

//     &:hover,
//     &:focus {
//       fill: $accent-color;
//     }
//   }

//   &-link:hover &-list-svg,
//   &-link:focus &-list-svg {
//     fill: $accent-color;
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     border-color: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }
