$primary-text-color: #212121;
$secondary-text-color: rgba(255, 255, 255, 0.6);
$paragraph-color: #757575;
$accent-color: #2196f3;
$white-color: #ffffff;
$secondary-background-color: #f5f4fa;
$accent-background-color: #2f303a;
$line-color: #ececec;
$border-color: #eeeeee;
